# 15 minutes in milliseconds
# 15 * 60 * 1000 = 900,000
RUNNING_INTERVAL = 900000
# LinkedIn
LINKEDIN_COMPANY_ID=1337
JOB_SEARCH_URL=https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?f_C=${LINKEDIN_COMPANY_ID}
# pagination
PAGE_SIZE = 10
MAX_PAGES = 2
# search keywords
KEYWORDS=
# google sheet
# use your own if needed
SPREADSHEET_ID=1K9NUyDyz2gsiVRuUOXw1GG8mygwtQ3hGAvK7U1DJkSA
SHEET_NAME=Job Monitoring Logs